# GCP Configuration
GCP_PROJECT_ID=241955658779
GCS_BUCKET_NAME=v2aibucket
GCS_KEY_PATH=./gcp-key.json

# Firestore
FIRESTORE_DB_NAME=v2aidb
FIRESTORE_COLLECTION=videos

# App Config
UPLOAD_DIR=uploads
LOG_LEVEL=INFO
